<% content_for(:title, "Your contact | Wikipages") %>

<h1><%= @contact.name %></h1>

<p>Phones:</p>
<ul>
  <% @contact.phones.each do |phone| %>
    <li>
      <%= phone.number %> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>/edit">Edit</a> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>"
         data-confirm="You sure?"
         data-method="delete"
         rel="nofollow">Delete</a>
    </li>
  <% end %>
</ul>

<p>Email: <%= @contact.email %></p>

<p><a href="/contacts/<%= @contact.id %>/phones/new">Add phone</a></p>

<p><a href="/contacts/<%= @contact.id %>/edit">Edit this contact</a>
<a href="/contacts/<%= @contact.id %>"
		data-confirm="Are you sure?"
		data-method="delete"
		rel="nofollow">Delete this contact</a></p>
<p><a href="/contacts/">Return to contacts listing</a></p>